# Exclude hidden OS files.
.DS_Store
._*
Thumbs.db
files
settings.local.php
settings.prod.php

# Ignore Development tool files.
.idea
node_modules
.composer
.drush
.npm
.config

# Vendors, core & contrib
vendor/
docroot/libraries
docroot/vendor
docroot/modules/contrib
docroot/themes/contrib
docroot/core

# Twelve compiled theme files
docroot/themes/custom/twelve_carnation/dist/css
docroot/themes/custom/twelve_carnation/dist/main.js

# App build files
docroot/modules/custom/twelve_app/dist

# Env related variables
env_variables
