# Exclude hidden OS files.
.DS_Store
._*
Thumbs.db

# Ignore Development tool files.
.idea
node_modules

docroot/sites/default/prod.settings.php
docroot/sites/*/files
docroot/sites/*/private
files/*

# ** Only works in OSs that support newer versions of fnmatch (Bash 4+)
/sites/default/**/files
/sites/default/**/private