@media only screen
and (min-device-width: 320px)
and (max-device-width: 823px)
and (orientation: portrait) {
  .mountains-layout {
    padding-top: 10vh;
    grid-template-rows: 30% 30% 10% 30%;

    .mountain {
      .flag {
        top: 80px;
        left: calc(50% - 5%);
        width: 10%;
      }

      .progress-ring {
        top: 4vh !important;
      }

      .info {
        top: 155px;
      }

      &:nth-child(2) {
        grid-column: 3;
      }

      &:nth-child(3) {
        grid-row: 2/span 3;
      }

      &:nth-child(4) {
        align-self: center;
        z-index: 3;
        grid-row: 2;
      }

      &:nth-child(5) {
        grid-row: 2;
      }

      &:nth-child(6) {
        grid-column: 1;
        grid-row: 3;
      }

      &:nth-child(7) {
        align-self: center;
        grid-column: 3;
      }
    }
  }
}
