#twelve_day_progress_app .exercise-list {
  margin-top: 45px;

  .today-progress-item {
    margin-right: 30px;
    margin-bottom: 15px;

    border: 2px solid $dark-blue;
    border-radius: 5px;
    cursor: pointer;

    .checkbox {
      margin-top: 16px;
      margin-left: 16px;
      cursor: pointer;
      height: 18px;
      width: 18px;
      border-radius: 5px;
      padding: 1px 1px 2px 2px;
      border: 2px solid gray;
      box-shadow: 0px 0px 2px 0px;
      color: bisque;
    }

    .checkbox.fa-check {
      border: 2px solid lighten($dark-blue, 2);
    }

    .title {
      padding: 10px 10px 0 0;

      font-size: 14px;
      line-height: 21px;
      font-weight: bold;
      color: $dark-blue
    }

    .description {
      padding: 10px 10px 10px 0;

      font-size: 12px;
      line-height: 18px;
      color: $gray-900;
    }
  }

  .today-progress-item.checked {
    background-color: $dark-blue;
    .title, .description {
      color: white;
    }
  }
}
