#twelve_day_progress_app .excercise-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  .exercise-content {
    position: relative;
    background: white;

    border: 3px solid $dark-blue;
    border-radius: 5px;
    padding: 20px;

    min-width: 250px;
    max-width: 300px;

    z-index: 1;

    .close-button {
      position: absolute;
      top: -15px;
      right: -15px;
      border-radius: 5px;
      padding: 10px;
      color: #fff;
      background-color: #000;
      line-height: 4px;
      cursor: pointer;
    }

    .title {
      font-size: 14px;
      line-height: 21px;
      font-weight: bold;
      color: $dark-blue
    }

    .description {
      padding: 10px 10px 10px 0;

      font-size: 12px;
      line-height: 18px;
      color: $gray-900;
    }

    .btn {
      background: #c6168d;
      color: white;
    }
  }
}
