#twelve_day_progress_app {
  .introduce-form {
    height: 30px;

    .user-login-container {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;

      .window {
        position: absolute;
        left: 50%;
        margin-top: 30px;
        margin-left: -140px;
        background: white;

        border: 3px solid $dark-blue;
        border-radius: 5px;
        padding: 20px;

        z-index: 1;
      }
    }
  }
}
