.mountains-layout {
  display: grid;
  margin-bottom: 0;
  padding-top: 25vh;
  grid-template-rows: 25% 25% 50%;
  grid-template-columns: repeat(3, 33.33%);

  @include media-breakpoint-up(lg) {
    padding-top: 12vh;
    grid-template-rows: 25% 25% 50%;
  }

  > .mountain {
    display: block;
    position: relative;
    width: 800px;
    height: 0;
    justify-self: center;
    pointer-events: none;

    > svg:nth-child(1) {
      position: absolute;
    }

    > .flag, .progress-ring {
      position: absolute;
      top: 110px;
      left: calc(50% - 7.5%);
      width: 15%;
    }

    .progress-ring {
      top: 8vh !important;
    }

    .info {
      position: absolute;
      top: 195px;
      z-index: 4;
      width: 100%;

      @include media-breakpoint-up(lg) {
        top: 20vh;
      }
    }

    .click-base {
      position: absolute;
      top: 10vh;
      left: calc(50% - 7.5%);
      z-index: 10;
      cursor: pointer;
      width: 15%;
      height: 30vh;
      pointer-events: visible;
    }

    &:nth-child(1) {
      z-index: 1;
      grid-column: 1 / span 2;
      grid-row: 1 / span 3;
    }

    &:nth-child(2) {
      z-index: 1;
      grid-column: 2 /span 2;
      grid-row: 1 / span 3;
    }

    &:nth-child(3) {
      z-index: 2;
      grid-row: 2 / span 2;
      grid-column: 1;
    }

    &:nth-child(4) {
      z-index: 2;
      grid-row: 2 / span 2;
      grid-column: 2;
    }

    &:nth-child(5) {
      z-index: 2;
      grid-row: 2 / span 2;
      grid-column: 3;
    }

    &:nth-child(6) {
      z-index: 3;
      grid-row: 3;
      grid-column: 1/span 2;
      justify-self: center;
    }

    &:nth-child(7) {
      z-index: 3;
      grid-row: 3;
      grid-column: 2 / span 2;
      justify-self: center;
    }

    &:nth-child(8) {

    }
  }
}
