#seven_summits_app .mountain-info-modal .modal-dialog {
  margin-right: auto;
  margin-left: auto;
  width: 80vw;
  max-width: 80vw;

  .modal-content {
    border-radius: 11px;

    .modal-header {
      align-items: center;
      border: none;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: $light-white;

      .close {
        margin-right: 20px;
        border-radius: 30px;
        background-color: $white;
        padding: 10px;
        color: $gray-400;
      }
    }

    .modal-body {
      display: flex;
      padding: 0;

      > div {
        padding: 20px 10px;
        width: 50%;

        &:last-of-type {
          padding: 0;
        }
      }

      .info {
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
        > span {
          display: flex;
          width: 50%;
          > span {
            width: 50%;
            white-space: nowrap;
          }
        }

        @media only screen
        and (min-width: 900px) {
          padding-right: 30px;
        }
      }

      .description {
        margin: 40px 20px 6px;
        border: 1px solid $dove-gray;
        border-radius: 5px;
        padding: 20px;
        max-height: 256px;
        overflow: scroll;
        overflow-x: auto;
      }

      .links {
        display: none;
      }

      .image {

      }

      .preview {

      }
    }

    .modal-footer {
      justify-content: space-between;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      cursor: pointer;
    }
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 823px)
  and (orientation: portrait) {
    .modal-content {
      .modal-body {
        flex-direction: column;

        > div:first-child {
          width: 100%;

          .description {
            margin: 0;
            max-height: 20vh;
          }
        }

        > div:last-child {
          width: 100%;
        }
      }
    }
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 823px)
  and (orientation: landscape) {
    margin-top: auto;

    .modal-content {
      .modal-body {
        > div:first-child {
          .description {
            margin: 5px;
            max-height: 20vh;
          }
        }
      }
    }
  }


}
