//this style is for eight hidden mountain

.seven-summits-conquered {
  .mountains-layout {
    .mountain {
      &:nth-child(1) {
        z-index: 5;
        margin-left: -20vw;
        grid-column: 1;
        grid-row: 3;
      }

      &:nth-child(2) {
        z-index: 4;
        margin-top: -17vh;
        margin-left: -35vw;
        grid-column: 1 / span 2;
        grid-row: 3;
      }

      &:nth-child(3) {
        z-index: 3;
        margin-left: -17vw;
        grid-column: 1 /span 2;
        grid-row: 1;
        justify-self: center;
      }

      &:nth-child(4) {
        margin-top: -5vh;
        margin-left: 10vw;
        grid-column: 1/ span 2;
        grid-row: 1;
      }

      &:nth-child(5) {
        margin-top: -5vh;
        margin-left: -8vw;
        grid-row: 1;
        grid-column: 2 /span 2;
      }

      &:nth-child(6) {
        margin-left: -15vw;
        grid-row: 2;
        grid-column: 3;
      }

      &:nth-child(7) {
        margin-left: 10vw;
        grid-row: 3;
        grid-column: 3;
      }

      &:nth-child(8) {
        display: block;
        align-self: center;
        z-index: 5;
        width: 900px;
        grid-row: 1;
        grid-column: 2;

        .flag {
          top: 120px;
        }

        .info {
          margin-top: 2vh;
        }
      }

      &:nth-child(-n+7) {
        svg:first-of-type {
          polygon {
            fill: url(#mountainShadedGradient);
            stroke: #c2bebe !important;
          }
        }

        .flag-color {
          fill: #c2bebe;
        }

        .info {
          color: #c2bebe;
        }
      }
    }

    @media only screen and (min-device-width: 375px) and (max-device-width: 823px) and (orientation: landscape) {
      .mountains-layout {
        padding-top: 0;

        .mountain:nth-child(8) {
          margin-top: 40px;
        }
      }
    }


  }
}

//mobile-landscape
@media only screen and (min-device-width: 375px) and (max-device-width: 823px) and (orientation: landscape) {
  .seven-summits-conquered {
    overflow: hidden;

    .greetings-block-wrapper {
      bottom: 10px;
      z-index: 9;
    }

    .mountains-layout {
      padding-top: 0;

      .mountain:nth-child(8) {
        grid-row: 2;

        .flag {
          top: 90px;
        }
      }
    }
  }
}

//mobile-portrait
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: portrait) {
  .seven-summits-conquered {
    overflow: hidden;

    .greetings-block-wrapper {
      bottom: 10px;
      z-index: 9;
    }

    .mountains-layout {
      padding-top: 10vh;
      grid-template-rows: 30% 30% 10% 30%;

      .mountain {
        &:nth-child(1) {
          margin-left: 0;
          padding-top: 0;
          grid-row: 1;
        }

        &:nth-child(2) {
          margin-top: 0;
          margin-left: 30px;
          grid-row: 1;
          grid-column: 3;
        }

        &:nth-child(3) {
          z-index: 6;
          margin-left: 0;
          grid-row: 2/span 3;
          grid-column: 1;
        }

        &:nth-child(4) {
          align-self: inherit;
          z-index: 6;
          margin-top: -1vh;
          grid-row: 2;
          grid-column: 3;
        }

        &:nth-child(5) {
          z-index: 5;
          margin-top: -20vh;
          margin-left: 10vw;
          grid-row: 2;
          grid-column: 2;
        }

        &:nth-child(6) {
          z-index: 7;
          grid-column: 1;
          grid-row: 3;
        }

        &:nth-child(7) {
          align-self: center;
          z-index: 6;
          margin-top: -20vh;
          grid-row: 2;
          grid-column: 2;
        }

        &:nth-child(8) {
          z-index: 8;
          grid-row: 2;
          grid-column: 2;

          .flag {
            top: 90px;
          }
        }
      }
    }
  }
}

//tablet-portrait
@media only screen and (min-device-width: 768px) and (max-device-width: 1366px) and (orientation: portrait) {
  .seven-summits-conquered {
    overflow: hidden;

    .mountains-layout {
      padding-top: 10vh;
      grid-template-rows: 30% 30% 10% 30%;

      .mountain {
        &:nth-child(7) {
          margin-top: -15vh;
          margin-left: 40vw;
        }
      }
    }
  }
}

//ipad pro
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) {
  .seven-summits-conquered {
    overflow: h;

    .mountains-layout {

      .mountain {
        &:nth-child(5) {
          margin-top: 30px;
        }

        &:nth-child(5) {
          margin-top: -10vh;
        }

        &:nth-child(7) {
          grid-row: 3;
          grid-column: 2 /span 2;
        }

        &:nth-child(8) {
          margin-top: 5vh;
        }
      }
    }
  }
}

