#seven_summits_app .mountain-info-modal .modal-dialog {
  margin-right: auto;
  margin-left: auto;
  width: 90vw;
  max-width: 1001px;

  .modal-content {
    border-radius: 11px;

    .modal-header {
      align-items: center;
      border: none;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-color: $light-white;

      .close {
        font-size: 1.5rem;
        line-height: .8;
        font-weight: 200;
        border-radius: 100%;
        margin-right: 20px;
        background-color: $white;
        color: $gray-400;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        justify-items: center;

        @include media-breakpoint-up(md) {
          font-size: 2.5rem;
          width: 60px;
          height: 60px;
        }

        span {
          margin-top: -7px;

          @include media-breakpoint-up(md) {
            margin-top: -3px;
          }
        }
      }
    }

    .modal-body {
      display: flex;
      flex-direction: column;
      padding: 0;
      overflow: auto;
      max-height: 66vh;

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }

      > div {
        padding: 20px 10px;
        width: 50%;

        &:last-of-type {
          padding: 0;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-bottom: 25px;
        padding-left: 10px;

        @include media-breakpoint-up(md) {
          padding-top: 40px;
          padding-bottom: 40px;
        }

        @include media-breakpoint-up(lg) {
          flex-direction: row;
        }

        > span {
          display: flex;
          width: 50%;
          > span {
            width: 50%;
            white-space: normal;
          }
        }

        @include media-breakpoint-up(lg) {
          padding-right: 30px;
        }
      }

      .description {
        margin: 0 20px 20px;
        border: 1px solid $dove-gray;
        border-radius: 5px;
        padding: 20px;
        max-height: 256px;
        overflow: scroll;
        overflow-x: auto;
        font-family: $cachet-book;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0;
        color: $gray-900;

        @include media-breakpoint-up(sm) {
          font-size: 18px;
          line-height: 27px;
        }

        @include media-breakpoint-up(lg) {
          margin: 40px 20px 6px;
        }

        p {
          font-size: inherit;
          line-height: inherit;
        }
      }

      .links {
        display: none;
      }
    }

    .modal-footer {
      justify-content: space-between;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      cursor: pointer;

      > .start_climbing {
        &.disabled {
          display: none;
        }

        @include media-breakpoint-up(md) {
          &.disabled {
            display: block;
            background-color: $gray-400;
          }
        }
      }
    }
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 823px)
  and (orientation: portrait) {
    .modal-content {
      .modal-body {

        > div:first-child {
          width: 100%;

          .description {
            max-height: 20vh;
          }
        }

        > div:last-child {
          width: 100%;
        }
      }
    }
  }

  @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 823px)
  and (orientation: landscape) {
    margin-top: auto;

    .modal-content {
      .modal-body {
        > div:first-child {
          .description {
            margin: 5px;
            max-height: 20vh;
          }
        }
      }
    }
  }
}
