#twelve_day_progress_app .container {
  display: grid;
  grid-gap: 30px 15px;

  grid-template-columns: repeat(1, 1fr);

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(3, 1fr);
  }

  .today-progress-item {
    display: grid;
    grid-template-columns: 50px auto;

    border: 2px solid $dark-blue;
    border-radius: 5px;

    .checkbox {
      margin-top: 16px;
      grid-row-end: span 2;
      justify-self: center;
    }

    .title {
      padding: 10px 10px 0 0;

      font-size: 14px;
      line-height: 21px;
      font-weight: bold;
      color: $dark-blue
    }

    .description {
      padding: 10px 10px 10px 0;

      font-size: 12px;
      line-height: 18px;
      color: $gray-900;
    }
  }
}
