@import 'twelve_app/exercise_list';
@import 'twelve_app/introduce_form';
@import 'twelve_app/exercise_timer';

.paragraph--type--today-progress-app {
  .label-for-field-block {
    display: none;
  }
}

#twelve_day_progress_app {
  padding-top: 20px;

  .message {
    padding-top: 30px;
  }
}

#twelve_day_progress_app .visually-disabled {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}


