.user-login-form,
.user-register-form,
.user-pass,
.user-pass-reset,
.user-form {
  display: grid;
  grid-template-columns: 350px;
  justify-content: center;

  padding-bottom: 50px;

  .form-item {
    margin: 0;

    label {
      display: block;
      color: $gray-900;
      font-family: Verdana, sans-serif;
      font-size: 14px;
      line-height: 21px;
      font-weight: bold;
      padding: 14px 0 15px 0;
      margin: 15px 0 0 0;

      &.form-required:after {
        background-size: 5px 6px;
        height: 6px;
        width: 5px;
      }
    }

    input {
      width: 100%;
      padding: 1rem 1rem;
      font-size: 12px;
      line-height: 1.5;
      color: $gray-800;
      border: 1px solid $gray-400;
      border-radius: 0;

      &:hover {
        color: $gray-900;
        background-color: $white;
        border-color: $gray-900;
      }

      &:focus {
        border-color: $green;
        outline: none;
      }
    }

    .description {
      display: none;
    }

    .passeye-toggle {
      display: none;
    }
  }

  .form-actions {
    text-align: center;

    input {
      margin: 30px 0 20px 0;
      padding: 15px 40px;

      background-color: $indigo;
      font-family: Cachet, Verdana, sans-serif;
      font-size: 24px;
      line-height: 36px;
    }
  }

  .user-recover {
    padding-bottom: 10px;
  }
}

