.recent-achievements {
  @include media-breakpoint-up(md) {
    padding-left: 0;
    padding-right: 0;
  }
  margin-bottom: 50px;

  .header {
    @include cachet();
    padding-bottom: 20px;
    font-size: 18px;
    line-height: 27px;
    color: $gray-400;
  }

  .empty {
    padding: 10px;
    margin-bottom: 10px;

    border: 1px solid $light-white;
  }

  @import "badge_list/item";

  .list {
    display: grid;
    grid-template-columns: 1fr;

    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include media-breakpoint-up(lg) {
      grid-template-columns: repeat(3, 1fr);
    }

    grid-gap: 15px;

    .list-item {
      margin: 0;
    }
  }


  .all_badges {
    padding: 20px;
    font-family: $font-family-base;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
  }
}
