.recent-achievements {
  min-width: 340px;
  max-width: 540px;
  float: left;
  margin-bottom: 50px;

  .header {
    @include cachet();
    padding-bottom: 20px;
    font-size: 18px/27px;
    color: $gray-400;
    text-align: center;
  }

  .empty {
    padding: 10px;
    margin-bottom: 10px;

    border: 1px solid $light-white;
  }

  @import "badge_list/item";

  .all_badges {
    padding: 20px;
    font-family: $font-family-base;
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    text-align: center;
  }
}
