.user-art-collection {
  margin-bottom: 50px;

  .header {
    @include cachet();
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 36px;
    line-height: 48px;
    color: $gray-400;

    a {
      display: inline-block;
      background-color: $light-white;
      font-size: 16px;
      padding: 18px;
      float: left;
      margin-right: 15px;
      border-radius: 25px;
      color: $gray-400;
    }
  }

  .empty {
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;

    border: 1px solid $light-white;
  }

  .list {
    display: grid;
    grid-template-columns: 1fr;
    @include media-breakpoint-up(md) {
      grid-template-columns: 1fr 1fr;
    }
    grid-gap: 5px 30px;

    @import "badge_list/item";

    .list-item {
      grid-template-columns: 120px auto;

      .image {
        width: 120px;
        height: 90px;

        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }

      .badge-name {
        font-size: 18px;
        line-height: 27px;
      }

      .game-name {
        font-size: 14px;
        line-height: 21px;
      }

      .date {
        font-size: 12px;
        line-height: 18px;
      }
    }
  }
}
