#seven_summits_app {
  .mountain {

    .container {
      height: auto;

      @include media-breakpoint-up(xl) {
        height: 770px;
      }
    }

    .seven-summits__overlay {
      background: rgb(0,96,175);
      background: linear-gradient(90deg, rgba(0,96,175,1) 0%, rgba(146,39,143,1) 100%);
    }

    &-wrap {
      display: flex;
      flex-direction: column;

      @include media-breakpoint-up(sm) {
        display: block;
      }
    }

    &__progress {
      left: 0;
      top: 11%;
      width: 190px;
      margin: 20px auto 0;
      text-align: center;

      @include media-breakpoint-up(sm) {
        position: absolute;
        margin: 0;
        text-align: left;
        width: 180px;
      }

      @include media-breakpoint-up(md) {
        width: 190px;
      }

      @include media-breakpoint-up(lg) {
        left: 3%;
        width: 300px;
      }

      h4 {
        font-family: $cachet;
        font-size: 24px;
        line-height: 36px;
        color: $white;
        margin-bottom: 20px;

        @include media-breakpoint-up(lg) {
          font-size: 48px;
          line-height: 72px;
        }
      }
    }

    &__view {
      width: 100%;
      margin: 0 auto;
    }

    &__view-triangle {
      height: 0;
      padding-top: 100%;
      position: relative;

      @include media-breakpoint-up(sm) {
        padding-top: 70%;
      }

      svg {
        height: 100%;
        display:block;
        width: 100%;
        position: absolute;
        top: 10%;
        left: 0;
      }
    }

    &__view-avatar {
      height: 140px;
      width: 140px;
      border: 2px solid #fff;
      border-radius: 100%;
      z-index: -1;
      top: -116px;
      background: rgb(1,163,237);
      background: linear-gradient(180deg, rgba(1,163,237,1) 0%, rgba(218,242,252,1) 100%);

      @include media-breakpoint-up(md) {
        height: 180px;
        width: 180px;
        top: -160px;
        border: 4px solid #fff;
      }

      @include media-breakpoint-up(lg) {
        height: 270px;
        width: 270px;
        top: -225px;
      }
      @include media-breakpoint-up(xl) {
        height: 300px;
        width: 300px;
        top: -258px;
      }
    }

    &__view-mess {
      width: 200px;
      display: flex;
      justify-content: center;
      justify-items: center;
      background: $white;
      border-radius: 10px;
      font-family: $cachet;
      font-size: 14px;
      line-height: 18px;
      color: #231f20;
      padding: 2% 0;
      margin: -19% auto 0;
      position: relative;
      z-index: 1;

      @include media-breakpoint-up(sm) {
        width: 260px;
        font-size: 16px;
        line-height: 26px;
        margin: -14% auto 0;
      }

      @include media-breakpoint-up(lg) {
        width: 320px;
      }

      @include media-breakpoint-up(xl) {
        width: 460px;
        font-size: 24px;
        line-height: 36px;
      }
    }

    &__next {
      right: 0;
      top: 10%;
      width: 100%;
      max-width: 190px;
      padding: 10px 10px 0;
      background-color: $white;
      border-radius: 10px;
      margin: 0 auto 36px;

      @include media-breakpoint-up(sm) {
        max-width: 170px;
        position: absolute;
        margin: 0;
      }

      @include media-breakpoint-up(md) {
        max-width: 190px;
      }

      @include media-breakpoint-up(lg) {
        padding: 15px 15px 0;
        right: 3%;
        max-width: 250px;
      }

      @include media-breakpoint-up(xl) {
        max-width: 300px;
      }

      .bruch {
        &-label {
          width: 100%;
          font-family: $cachet;
          font-size: 10px;
          line-height: 12px;
          color: #231f20;

          @include media-breakpoint-up(lg) {
            font-size: 18px;
            line-height: 27px;
          }
        }

        &-name {
          width: 100%;
          font-family: $cachet;
          font-size: 18px;
          line-height: 27px;
          color: #0060af;

          @include media-breakpoint-up(lg) {
            font-size: 36px;
            line-height: 54px;
          }
        }

        &-text {
          display: flex;
          justify-content: center;
          flex-direction: column;
          width: 50%;
          font-family: $cachet;
          font-size: 10px;
          line-height: 15px;
          color: #636466;
          height: 40px;
          margin: 10px auto 10px;

          @include media-breakpoint-up(lg) {
            height: 63px;
            font-size: 12px;
            line-height: 15px;
            margin: 15px auto 20px;
          }
        }

        &-btn {
          max-width: 42%;
          display: inline-block;
          background-color: $plum;
          border: 2px solid $plum;
          border-radius: 20px;
          color: $white;
          font-family: $cachet;
          font-weight: 400;
          text-transform: uppercase;
          font-size: 14px;
          line-height: 21px;
          padding: 8px 20px;
          margin: 10px auto 10px;

          @include media-breakpoint-up(lg) {
            padding: 18px 25px;
            border-radius: 35px;
            margin: 15px auto 20px;
          }

          &:hover {
            background-color: darken($plum, 10%);
            border: 2px solid darken($plum, 10%);
          }

          span {
            display: none;

            @include media-breakpoint-up(xl) {
              display: inline;
            }
          }
        }
      }
    }

    .progress {
      background-color: $white;
      border-radius: 8px;
      padding: 1px;
      height: 10px;
      z-index: 1;

      &-bar {
        background-color: #c6168d;
        height: 8px;
        border-radius: 5px;
        transition: width 1s ease-in-out;
      }

      &-count {
        margin-top: 10px;
        font-family: $cachet;
        font-size: 12px;
        line-height: 18px;
        color: $white;

        @include media-breakpoint-up(lg) {
          font-size: 14px;
          line-height: 21px;
        }
      }

      &-info {
        font-family: $cachet-book;
        font-size: 10px;
        line-height: 15px;
        color: $white;

        @include media-breakpoint-up(lg) {
          font-size: 14px;
          line-height: 21px;
        }
      }
    }
  }
}

