.hero {
  background-repeat: no-repeat;

  &.green {
    background-image: url('/themes/custom/twelve_carnation/dist/img/climbers/climber-green.svg');
  }

  &.blue {
    background-image: url('/themes/custom/twelve_carnation/dist/img/climbers/climber-blue.svg');
  }

  &.lilac {
    background-image: url('/themes/custom/twelve_carnation/dist/img/climbers/climber-purple.svg');
  }

  &.red {
    background-image: url('/themes/custom/twelve_carnation/dist/img/climbers/climber-red.svg');
  }

  &.orange {
    background-image: url('/themes/custom/twelve_carnation/dist/img/climbers/climber-yellow.svg');
  }
}
