.twelve-user-family-member-edit, .twelve-user-family-member-add {
  padding-bottom: 0;

  .control-label {
    margin: 0;
    padding-bottom: 0;
  }
  .input-wrapper {
    .form-submit {
      width: 100%;
      margin: 10px 0 0 0;
      padding: 10px 10px;
    }
  }
}
