.views-hero {
  display: grid;
  margin-bottom: 25px;
  background: $mine-shaft;
  background-image: url('/themes/custom/twelve_carnation/dist/img/seven-summits/Background.png');
  background-image: linear-gradient(180deg, $mine-shaft 0%, $white 70%), url('/themes/custom/twelve_carnation/dist/img/seven-summits/Background.png');
  background-size: cover;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr auto auto auto 1fr;
  @include media-breakpoint-up(md) {
    background-image: url('/themes/custom/twelve_carnation/dist/img/seven-summits/Background@2x.png');
    background-image: linear-gradient(180deg, $mine-shaft 0%, $white 70%), url('/themes/custom/twelve_carnation/dist/img/seven-summits/Background@2x.png');
  }

  .hero {
    align-self: center;
    width: 50%;
    max-width: 300px;
    grid-column: 1;
    grid-row: 1/-1;
    justify-self: center;
  }

  @import "hero/climber";

  .jacket-title {
    align-self: end;
  }

  .jacket-title,
  .flesh-title,
  a {
    @include cachet();
    padding-bottom: 5px;
    text-align: center;
    line-height: 21px;
    color: $shuttle-gray;
    font-size: 14px;
    grid-column: 2;

    @include media-breakpoint-up(md) {
      padding-bottom: 20px;
      line-height: 36px;
      font-size: 24px;
    }
  }

  .jacket-colors {
    padding-bottom: 20px;
    @include media-breakpoint-up(md) {
      padding-bottom: 40px;
    }
  }

  .flesh-colors {
    padding-bottom: 40px;
    @include media-breakpoint-up(md) {
      padding-bottom: 80px;
    }
  }

  .jacket-colors,
  .flesh-colors {
    @import "hero/choice-colors";
    display: grid;
    grid-column: 2;
    grid-auto-flow: column;
    grid-gap: 19px;
    grid-template-columns: 1fr repeat(3, auto) 1fr;

    > div:first-child {
      justify-self: end;
    }

    > div {
      border-radius: 20px;
      cursor: pointer;
      width: 40px;
      height: 40px;

      @include media-breakpoint-up(md) {
        border-radius: 30px;
        width: 60px;
        height: 60px;
      }

      &.selected {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        font-family: "Font Awesome 5 Free";
        font-size: 24px;
        font-weight: 900;
        &:before {
          content: "\f00c";
        }
      }
    }
  }

  a {
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    border-radius: 20px;
    background-color: $plum;
    cursor: pointer;
    padding: 11px 20px;
    text-transform: uppercase;
    color: white;
    grid-column: 2;

    &:hover {
      color: $white;
    }

    @include media-breakpoint-up(md) {
      border-radius: 35px;
      padding: 20px 40px;
    }
  }

  @media (orientation: portrait) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto auto auto;

    .hero,
    .jacket-title,
    .jacket-colors,
    .flesh-title,
    .flesh-colors,
    a {
      grid-column: 1;
      grid-row: initial;
    }

    .hero {
      margin-top: 30px;
      margin-bottom: 20px;
    }
  }

}
