.ps-grid_content-challenge {
  display: grid;
  grid-gap: 30px;

  grid-template-columns: repeat(1, 300px);
  grid-auto-rows: 300px;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(2, 300px);
  }

  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 300px);
  }

  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(4, 300px);
  }

  > div.col-12 {
    padding: 0;
    margin: 0;
    position: initial;
    max-width: 100%;

    .grid-item {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;

      .content {
        margin: 0;
        padding: 0 !important;
        height: 100%;

        .inner {
          height: 100%;
          display: grid;
          grid-template-columns: 100%;
          grid-template-rows: 70% 30%;
          justify-content: center;
          justify-items: center;
          align-items: center;

          h2 {
            grid-row: 2;
            grid-column: 1;
            color: $dark-blue;
            border: none;
            padding-top: 15px;
          }

          .image-prgf-grid {
            grid-row: 1;
            grid-column: 1;

            background-image: url("/themes/custom/twelve_carnation/dist/img/digits.png");
            background-size: auto 100%;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;
            height: 100%;
            margin-top: 30px;
          }

          .text {
            display: none;
          }

          .more-link {
            grid-column: 1;
            grid-row: 1 / span 2;
            position: initial;
            left: initial;
            bottom: initial;
            width: 100%;
            height: 100%;
            z-index: 3;

            span {
              position: initial;
              left: initial;

              a {
                display: block;
                width: 100%;
                height: 100%;
                opacity: 0;
                border: none;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}

body:not(.user-logged-in) {
  .ps-grid_content-challenge {
    .more-link {
      //display: none;
    }

    > div.col-12 {

    }

    > div.col-12 .ps-grid_columns-sign-in-required .content .inner .text {
      display: block;
      grid-column: 1;
      grid-row: 1 / span 2;
      z-index: 1;
      background-color: $black;
      opacity: 0.5;
      width: 100%;
      height: 100%;
      padding: 0 !important;
      margin: 0;
      border-radius: 8px;
    }

    > div.col-12 .ps-grid_columns-sign-in-required .content .inner .more-link:before {
      content: 'SIGN-IN REQUIRED';
      position: absolute;
      width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Cachet;
      font-size: 36px;
      color: white;
    }
  }
}
