.views-layout {
  margin-bottom: 25px;
  background: $mine-shaft;
  background-image: url('/themes/custom/twelve_carnation/dist/img/seven-summits/background-800.png');
  background-image: linear-gradient(180deg, $mine-shaft 0%, $white 70%), url('/themes/custom/twelve_carnation/dist/img/seven-summits/background-800.png');
  background-size: cover;
  height: 100vh;

  @include media-breakpoint-up(md) {
    background-image: url('/themes/custom/twelve_carnation/dist/img/seven-summits/background-1280.png');
    background-image: linear-gradient(180deg, $mine-shaft 0%, $white 70%), url('/themes/custom/twelve_carnation/dist/img/seven-summits/background-1280.png');
  }

  @include media-breakpoint-up(lg) {
    height: calc(100vh - 85px - 50px);
  }
}
